* {
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
div{
      margin: 15px 15px 20px 2px;
  }
  
body{
    background: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    width: 960px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}
.header, .nav, .footer{
    background: #ebebeb;
    text-align: center;
    height: 80px;
    padding: 30px 20px 20px 20px;
    font-size: 20px;
    clear: left;
}
h1, p{
    color: #777;
    background: #ebebeb;
    font-size: 20px;
    height: 50px;
    padding: 12px 30px 30px 30px;
    margin: 15px 30px 10px -5px;
    width: 400px;
}

.section{
    background: #ebebeb;
    width: 495px;
    text-align: center;
    height: 270px;
    float: left;
    padding: 20px 30px 30px 30px;
    font-size: 20px;
    margin: 0px 20px 20px 0px;
}
.article{
    color: #ebebeb;
    background: #777;
    padding: 30px 30px 30px 30px;
    margin: 20px 30px 30px -7px;
    width: 450px;
    height: 200px;
}
.aside{ 
    background: #ebebeb;
    width: 430px;
    height: 270px;
    text-align: center;
    padding: 20px 30px 30px 30px;
    font-size: 20px;
    margin: 0px 20px 20px 513px;
}